---
layout: default
title: News
permalink: /news/
---
<div class="news-list-container item-index">
  {% for post in site.posts %}
    {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: "%Y" }}{% endcapture %}

    {% if year != nyear %}
      <div class="year-header">
        <h3 class="news-year">{{ year }}</h3>
      </div>
    {% endif %}
    <div class="two-column news-list-item">
      <div class="side-column news-list-date">
        <p>{{ post.date | date: "%B %-d" }}</p>
      </div>
      <div class="main-column">
        <a href="{{ post.url }}">{{ post.name }}</a>
      </div>
    </div>
  {% endfor %}
</div>
