---
layout: default
title: Papers
permalink: /papers/
---
<div class="papers">
  <p class="papers-context">See <a href="https://scholar.google.com/citations?user=cwG4QRAAAAAJ&hl=en&oi=ao" target="_blank" rel="noopen">Google Scholar</a> for a complete publication list.</p>
  <div class="papers-container item-index">
    {% for paper in site.papers reversed %}
      {% capture year %}{{ paper.date | date: "%Y"}}{% endcapture %}
      {% capture nyear %}{{ paper.next.date | date: "%Y" }}{% endcapture %}
      {% if year != nyear %}
        {% if forloop.index != 1 %}
          </ul>
        {% endif %}
        {% if year == "2018" %}
          <!-- temporary fix to catch older stuff (note that we hardcode 2018 because there's no 2019 papers right now). It would be smarter to refactor the list content into an _includes template and just generate two different year arrays. --!>
          <div class="year-header">
            <h2 class="papers-year">2019 and previous</h2>
          </div>
          <ul class="paper-list">
        {% elsif year > "2019" %}
          <div class="year-header">
            <h2 class="papers-year">{{ year }}</h2>
          </div>
          <ul class="paper-list">
        {% else %}
          <ul class="paper-list">
        {% endif %}
      {% endif %}
      <li>
        <div class="two-column paper-list-item-container">
          <div class="side-column paper-list-thumbnail-container">
            <img
              src="/assets/images/papers/{{ paper.thumbnail }}"
              alt="figure preview from paper"
              class="paper-list-thumbnail"
            />
          </div>
          <div class="main-column paper-list-item">
            <p>{% render_bold_cite %}{{ paper.authors }}{% endrender_bold_cite %}.</p>
            <p class="paper-list-item-article-link"><a href="{{ paper.url }}">"{{ paper.name }}."</a></p>
            {% if paper.publisher_url %}
              {% capture journal_cite %}{{ paper.journal }}{% if paper.volume %}, vol. {{ paper.volume }}{% endif %}{% if paper.issue %}, iss. {{ paper.issue }}{% endif %}{% if paper.number %}, no. {{ paper.number }}{% endif %}{% if paper.pages %}, pp. {{ paper.pages }}{% endif %}{% endcapture %}
            {% else %}
              {% capture preprint_server %}{% if paper.preprint contains "biorxiv" %}bioRxiv{% elsif paper.preprint contains "medrxiv" %}medRxiv{% else %}arXiv{% endif %}{% endcapture %}
              {% capture journal_cite %}{{ preprint_server }} {{ paper.preprint | split:"/" | last}}{% endcapture %}
            {% endif %}
            <p>{{ journal_cite }} ({{ year }}).</p>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
