---
layout: default
title: Software
permalink: /software/
---
<p>we make software</p>
<p>open source good</p>
<div class="software-index-container">
    {% for software in site.software %}
    <div class="software-list-item">
      <div class="software-name-row">
        <a class="software-name" href="{{ software.url  }}">{{ software.name }}</a>
      </div>
      <div class="software-details-row">
        {% if software.latest_release and software.latest_release.version %}
            {{ software.latest_release.version }}
        {% else %}
            Prerelease
        {% endif %}
        <div class="software-languages">
          {% for lang in software.languages %}
            {% if lang == 'Python' %}
              {% assign lang_url = "Python-4C9F70" %}
            {% elsif lang == 'Ruby' %}
              {% assign lang_url = "Ruby-F64740" %}
            {% elsif lang == 'TypeScript' %}
              {% assign lang_url = "TypeScript-008DD5" %}
            {% elsif lang == 'Shell' %}
              {% assign lang_url = "Shell-F7D08A" %}
            {% elsif lang == 'Rust' %}
              {% assign lang_url = "Rust-50514F" %}
            {% else %}
              {% assign lang_url = nil %}
            {% endif %}
            {% if lang_url %}
              <img alt="Static Badge" src="https://img.shields.io/badge/{{ lang_url }}" class = "language-badge" />
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
