---
layout: default
title: Software
permalink: /software/
---
<p>we make software</p>
<p>open source good</p>
<div class="software-index-container">
    {% for software in site.software %}
    <div class="software-list-item">
      <div class="software-name-row">
        <a class="software-name" href="{{ software.url  }}">{{ software.name }}</a>
      </div>
      <div class="software-details-row">
        {% if software.latest_release and software.latest_release.version %}
            {{ software.latest_release.version }}
        {% else %}
            Prerelease
        {% endif %}
        <div class="software-languages">
          {% for lang in software.languages %}
          <div class="software-language-box {{ lang | downcase }}">
            {{ lang }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
