<footer class="site-footer-container">
  <div class="footer wrapper">
    <div class="footer-column left">
      <div class="lab-matter">
        <a href="#">Genomic Medicine Lab</a>
      </div>
      <div class="lab-matter">
        <div class="footer-icon-container">
          <a href="mailto:help@genomicmedlab.org" target="_blank" rel="noopener"
            ><i class="icon fa-solid fa-envelope"></i
          ></a>
          <a href="" target="_blank" rel="noopener"
            ><i class="icon fa-brands fa-twitter"></i
          ></a>
          <a
            href="https://www.github.com/genomicmedlab"
            target="_blank"
            rel="noopener"
            ><i class="icon fa-brands fa-github"></i
          ></a>
        </div>
      </div>
      <a
        href="https://www.nationwidechildrens.org/specialties/institute-for-genomic-medicine"
        >Steve and Cindy Rasmussen Institute for Genomic Medicine</a
      >
      <a href="https://www.nationwidechildrens.org/research"
        >Abigail Wexner Research Institute</a
      >
      <a href="https://medicine.osu.edu/departments/pediatrics"
        >Department of Pediatrics, The Ohio State University</a
      >
    </div>

    <div class="footer-column right">
      <div class="logo-container">
        <img
          class="logo nch-logo"
          src="{{ 'assets/images/site/nch-logo-dark.png' | relative_url }}"
        />
        <img
          class="logo osu-logo"
          src="{{ 'assets/images/site/osu-logo.png' | relative_url }}"
        />
      </div>
    </div>
  </div>
</footer>
