<footer class="site-footer">
  <div class="footer-box">
    <p>{{ site.title | escape }}</p>
    <div class="icon-box-container">
      <div class="icon-box paper-type"></div>
      <div class="icon-box person-type"></div>
      <div class="icon-box post-type"></div>
      <div class="icon-box project-type"></div>
      <div class="icon-box software-type"></div>
    </div>
  </div>
  <div class="footer-box">
    <p>Steve and Cindy Rasmussen Institute for Genomic Medicine</p>
    <p>575 Children's Crossroad</p>
    <p>Columbus, OH 43215</p>
  </div>
</footer>
