<footer class="site-footer-container">
  <div class="footer wrapper">
    <div class="footer-column left">
      <p>Steve and Cindy Rasmussen Institute for Genomic Medicine</p>
      <p>Abigail Wexner Research Institute</p>
      <p>Nationwide Children's Hospital</p>
    </div>
    <div class="footer-column right">
      <div class="logo-container">
        <img
          class="nch-logo"
          src="{{ 'assets/images/site/nch-logo-dark.png' | relative_url }}"
        />
      </div>
    </div>
  </div>
</footer>
