<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- styles --!>
  <link rel="stylesheet" href="/assets/css/styles.css", rel="stylesheet">

  <!-- fonts --!>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Libre%20Franklin">

  <!-- icons --!>
  <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
  <link href="/assets/css/regular.min.css" rel="stylesheet">
  <link href="/assets/css/brands.min.css" rel="stylesheet">
  <link href="/assets/css/solid.min.css" rel="stylesheet">
  {% if page.name contains ".html" or page.name contains ".md" %}
    <title>Genomic Medicine Lab | {{ page.title }}</title>
  {% else %}
    <title>Genomic Medicine Lab | {{ page.name }}</title>
  {% endif %}
</head>
