<!-- News Section -->
<section id="news">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">News</h1>
        </div>
        <div class="row news" style="align-items: center;display: flex;">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <img src=../img/news/GenomicMedLab_1.png height="100" width="auto"
                    style="float: left;">
                </span>

            </div>
            <div class="col-md-10 big-text" style="align-items: center;display: flex;">
                We are grateful to have been awarded funding from the NIH as part of the Bridge 2 AI center grant</a>.
            </div>
        </div>
        <div class="row news" >
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <img src="https://media.giphy.com/media/oYJRWMYoT2AEHnrjA7/giphy.gif" height="100" width="100%"
                    style="float: left;">
                </span>
            </div>
            <div>
                <div>
                    <iframe src="https://anchor.fm/omicsxchange/embed/episodes/Episode-17-Exploring-the-Variation-Representation-Specification-with-Larry-Babb-and-Alex-Wagner-e1jpn44/a-a83c9ju"
                    height="102px" width="500px" frameborder="0" scrolling="no" style= "padding-left: 13px;"></iframe>
                </div>
                <div class="col-md-10 big-text">
                    Our work on the Variation Representation Specification was recently featured in a recent GA4GH OmicsXchange interview: <a href="https://www.ga4gh.org/news/omicsxchange-episode-17-exploring-the-variation-representation-specification-with-larry-babb-and-alex-wagner/">
                        "Exploring the Variation Represenation Specification with Larry Babb and Alex Wagner"</a>
                </div>
            </div>
        </div>
        <div class="row news" style="align-items: center;display: flex;">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <img src="https://media.giphy.com/media/Ae7SI3LoPYj8Q/giphy.gif" height="100" width="100%"
                    style="float: left;">
                </span>
            </div>
            <div class="col-md-10 big-text">
                <a href="https://external-nationwidechildrens.icims.com/jobs/31794/igm-post-doctoral-scientist---igm-dr.-wagner%27s-lab/job?mobile=false&width=1170&height=500&bga=true&needsRedirect=false&jan1offset=-300&jun1offset=-240">We are always looking to add</a> motivated,
                talented
                graduate students and postdoctoral scientist to our team. If interested, please email Alex Wagner
                articulating your research experience and career goals.
            </div>
        </div>
    </div>
</section>
