<table class="person-links-box">
  <colgroup>
    <col span="1" style="width: 10%" />
    <col span="1" style="width: 90%" />
  </colgroup>
  {% if page.orcid %}
  <tr>
    <td>
      <a href="{{ page.orcid }}" rel="noopener" target="_blank"
        ><i class="fa-brands fa-orcid"></i
      ></a>
    </td>
    <td>
      <a href="{{ page.orcid }}" rel="noopener" target="_blank">ORCiD</a>
    </td>
  </tr>
  <tr>
    {% endif %} {% if page.github %}
  </tr>

  <tr>
    <td>
      <a
        href="https://www.github.com/{{ page.github }}"
        rel="noopener"
        target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </td>
    <td>
      <a
        href="https://www.github.com/{{ page.github }}"
        rel="noopener"
        target="_blank"
        >GitHub</a
      >
    </td>
  </tr>
  <tr>
    {% endif %} {% if page.google_scholar %}
  </tr>

  <tr>
    <td>
      <a href="{{ page.google_scholar }}" rel="noopener" target="_blank"
        ><i class="fa-solid fa-graduation-cap"></i
      ></a>
    </td>
    <td>
      <a href="{{ page.google_scholar }}" rel="noopener" target="_blank"
        >Google Scholar</a
      >
    </td>
  </tr>
  <tr>
    {% endif %} {% if page.personal_site %}
  </tr>

  <tr>
    <td>
      <a href="{{ page.personal_site }}" rel="noopener" target="_blank"
        ><i class="fa-solid fa-house"></i
      ></a>
    </td>
    <td>
      <a href="{{ page.personal_site }}" rel="noopener" target="_blank"
        >Personal Site</a
      >
    </td>
  </tr>
  <tr>
    {% endif %} {% if page.linkedin %}
  </tr>

  <tr>
    <td>
      <a href="{{ page.linkedin }}" rel="noopener" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </td>
    <td>
      <a href="{{ page.linkedin }}" rel="noopener" target="_blank">LinkedIn</a>
    </td>
  </tr>
  <tr>
    {% endif %}
  </tr>
</table>
