<!-- Services Section -->
<section id="publications">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">Publications</h1>
        </div>

        <!-- Preprints -->
        <div class="row">
            <h3 class="section-heading">Preprints</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <img src=../img/toast-bubble.png height="100" width="auto"
                    style="float: left;">
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://www.biorxiv.org/content/10.1101/2021.02.03.429646v1" target="_blank">Development and Application of a Computable Genotype models
                    in the GA4GH Variation Representation Specification. </a></h3>
                <p class="text-muted">Wesley A Goar, Lawrence Babb, Srikar Chamala, Melissa Cline, Robert R Friemuth, Reece K. Hart, Kori Kuzma,
                    Jennifer Lee, Tristan Nelson, Andreas Prlic, Kevin Riehle, Anastasia Smith, Kathryn Stahl, Andrew D. Yates,
                    Heidi Rehm, <strong>Alex H. Wagner</strong></p>
                <p class="text-muted">https://doi.org/10.1101/2021.02.03.429646</p>
            </div>
        </div>

<!-- 2022 -->
<div class="row">
    <h3 class="section-heading">2022</h3>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41416-022-01908-1" target="_blank">Genomic architecture of FGFR2 fusions in cholangiocarcinoma and its implication for molecular testing</a></h3>
        <p class="text-muted">Olaf Neumann, Timothy C Burn, Michael Allgäuer, Markus Ball, Martina Kirchner, Thomas Albrecht, Anna-Lena Volckmar,
            Susanne Beck, Volker Endris, Hannah Goldschmid, Ulrich Lehmann, Huriye Seker-Cin, Sebastian Uhrig, Stephanie Roessler, Jan Budczies,
            Stefan Fröhling, Thomas Longerich, <strong>Alex H Wagner</strong>, Arndt Vogel, Peter Schirmacher, Albrecht Stenzinger, Daniel Kazdal</p>
        <p class="text-muted">British Journal of Cancer, doi: https://doi.org/10.1038/s41416-022-01908-1</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S1071909122000213" target="_blank">Congenital brain malformations: an integrated diagnostic approach</a></h3>
        <p class="text-muted"><strong>Bimal P Chaudhari</strong>, Mai-Lan Ho</p>
        <p class="text-muted">Seminars in Pediatric Neurology, doi: https://doi.org/10.1016/j.spen.2022.100973</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S152515782200160X" target="_blank">A Decade's Experience in Pediatric Chromosomal Microarray Reveals Distinct Characteristics Across Ordering Specialties</a></h3>
        <p class="text-muted">Mariam T Mathew, Austin Antoniou, Naveen Ramesh, Min Hu, Jeffrey Gaither, Danielle Mouhlas, Sayaka Hashimoto, Maggie Humphrey,
            Theodora Matthews, Jesse M Hunter, Shalini Reshmi, Matthew Schultz, Kristy Lee, Ruthann Pfau, Catherine Cottrell, Kim L McBride,
            Nicholas E Navin, <strong>Bimal P Chaudhari</strong>, Marco L Leung</p>
        <p class="text-muted">The Journal of Molecular Diagnostics, doi: https://doi.org/10.1016/j.jmoldx.2022.06.001</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S1071909122000201#!" target="_blank">Neurogenetic and Metabolic Mimics of Common Neonatal Neurological Disorders</a></h3>
        <p class="text-muted">William Burns, <strong>Bimal P Chaudhari</strong>, Darrah N Haffner</p>
        <p class="text-muted">Seminars in Pediatric Neurology, doi: https://doi.org/10.1016/j.spen.2022.100972</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S1071909122000201#!" target="_blank">Neurogenetic and Metabolic Mimics of Common Neonatal Neurological Disorders</a></h3>
        <p class="text-muted">William Burns, <strong>Bimal P Chaudhari</strong>, Darrah N Haffner</p>
        <p class="text-muted">Seminars in Pediatric Neurology, doi: https://doi.org/10.1016/j.spen.2022.100972</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41587-022-01357-4" target="_blank">The GA4GH Phenopacket schema defines a computable representation of clinical data</a></h3>
        <p class="text-muted">Julius OB Jacobsen, Michael Baudis, Gareth S Baynam, Jacques S Beckmann, Sergi Beltran, Orion J Buske, Tiffany J Callahan, Christopher G Chute,
            Mélanie Courtot, Daniel Danis, Olivier Elemento, Andrea Essenwanger, Robert R Freimuth, Michael A Gargano, Tudor Groza, Ada Hamosh, Nomi L Harris, Rajaram Kaliyaperumal,
            Kevin C Kent Lloyd, Aly Khalifa, Peter M Krawitz, Sebastian Köhler, Brian J Laraway, Heikki Lehväslaiho, Leslie Matalonga, Julie A McMurry, Alejandro Metke-Jimenez,
            Christopher J Mungall, Monica C Munoz-Torres, Soichi Ogishima, Anastasios Papakonstantinou, Davide Piscia, Nikolas Pontikos, Núria Queralt-Rosinach, Marco Roos,
            Julian Sass, Paul N Schofield, Dominik Seelow, Anastasios Siapos, Damian Smedley, Lindsay D Smith, Robin Steinhaus, Jagadish Chandrabose Sundaramurthi,
            Emilia M Swietlik, Sylvia Thun, Nicole A Vasilevsky, <strong>Alex H Wagner</strong>, Jeremy L Warner, Claus Weiland, Melissa A Haendel, Peter N Robinson</p>
        <p class="text-muted">Nature Biotechnology, doi: https://doi.org/10.1038/s41587-022-01357-4</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://academic.oup.com/database/article/doi/10.1093/database/baac035/6591806" target="_blank">A Simple Standard for Sharing Ontological Mappings (SSSOM)</a></h3>
        <p class="text-muted">Nicolas Matentzoglu, James P Balhoff, Susan M Bello, Chris Bizon, Matthew Brush, Tiffany J Callahan, Christopher G Chute,
            William D Duncan, Chris T Evelo, Davera Gabriel, John Graybeal, Alasdair Gray, Benjamin M Gyori, Melissa Haendel, Henriette Harmse, Nomi L Harris,
            Ian Harrow, Harshad B Hegde, Amelia L Hoyt, Charles T Hoyt, Dazhi Jiao, Ernesto Jiménez-Ruiz, Simon Jupp, Hyeongsik Kim, Sebastian Koehler,
            Thomas Liener, Qinqin Long, James Malone, James A McLaughlin, Julie A McMurry, Sierra Moxon, Monica C Munoz-Torres, David Osumi-Sutherland,
            James A Overton, Bjoern Peters, Tim Putman, Núria Queralt-Rosinach, Kent Shefchek, Harold Solbrig, Anne Thessen, Tania Tudorache,
            Nicole Vasilevsky, <strong>Alex H Wagner</strong>, Christopher J Mungall</p>
        <p class="text-muted">Database, doi: https://doi.org/10.1093/database/baac035</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s43018-022-00379-w" target="_blank">A community approach to the cancer-variant-interpretation bottleneck</a></h3>
        <p class="text-muted">Kilannin Krysiak, Arpad M Danos, Susanna Kiwala, Joshua F McMichael, Adam C Coffman, Erica K Barnell, Lana Sheta, Jason Saliba,
            Cameron J Grisdale, Lynzey Kujan, Shahil Pema, Jake Lever, Nicholas C Spies, Andreea Chiorean, Damian T Rieke, Kaitlin A Clark, Payal Jani,
            Hideaki Takahashi, Peter Horak, Deborah I Ritter, Xin Zhou, Benjamin J Ainscough, Sean Delong, Mario Lamping, Alex R Marr, Brian V Li,
            Wan-Hsin Lin, Panieh Terraf, Yasser Salama, Katie M Campbell, Kirsten M Farncombe, Jianling Ji, Xiaonan Zhao, Xinjie Xu, Rashmi Kanagal-Shamanna,
            Kelsy C Cotto, Zachary L Skidmore, Jason R Walker, Jinghui Zhang, Aleksandar Milosavljevic, Ronak Y Patel, Rachel H Giles, Raymond H Kim, Lynn M Schriml,
            Elaine R Mardis, Steven JM Jones, Gordana Raca, Shruti Rao, Subha Madhavan, <strong>Alex H Wagner</strong>, Obi L Griffith, Malachi Griffith</p>
        <p class="text-muted">Nature Cancer, doi: https://doi.org/10.1038/s43018-022-00379-w</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S1098360022000016" target="_blank">Standards for the classification of pathogenicity of somatic variants in cancer (oncogenicity): Joint recommendations of Clinical Genome Resource (ClinGen), Cancer Genomics Consortium (CGC), and Variant Interpretation for Cancer Consortium (VICC)</a></h3>
        <p class="text-muted">Peter Horak, Malachi Griffith, Arpad M Danos, Beth A Pitel, Subha Madhavan, Xuelu Liu, Cynthia Chow, Heather Williams, Leigh Carmody, Lisa Barrow-Laing, Damian Rieke,
            Simon Kreutzfeldt, Albrecht Stenzinger, David Tamborero, Manuela Benary, Padma Sheila Rajagopal, Cristiane M Ida, Harry Lesmana, Laveniya Satgunaseelan, Jason D Merker,
            Michael Y Tolstorukov, Paulo Vidal Campregher, Jeremy L Warner, Shruti Rao, Maya Natesan, Haolin Shen, Jeffrey Venstrom, Somak Roy, Kayoko Tao, Rashmi Kanagal-Shamanna,
            Xinjie Xu, Deborah I Ritter, Kym Pagel, Kilannin Krysiak, Adrian Dubuc, Yassmine M Akkari, Xuan Shirley Li, Jennifer Lee, Ian King, Gordana Raca, <strong>Alex H Wagner</strong>,
            Marylin M Li, Sharon E Plon, Shashikant Kulkarni, Obi L Griffith, Debyani Chakravarty, Dmitriy Sonkin</p>
        <p class="text-muted">Genetics in Medicince, doi: https://doi.org/10.1016/j.gim.2022.01.001</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.medrxiv.org/content/10.1101/2022.04.13.22273750v3" target="_blank">Mondo: Unifying diseases for the world, by the world</a></h3>
        <p class="text-muted">Nicole A Vasilevsky, Nicolas A Matentzoglu, Sabrina Toro, Joe E Flack, Harshad Hegde, Deepak R Unni, Gioconda Alyea, Joanna S Amberger, Larry Babb,
            James P Balhoff, Taylor I Bingaman, Gully A Burns, Tiffany J Callahan, Leigh C Carmody, Lauren E Chan, George S Chang, Michel Dumontier, Laura E Failla, May J Flowers,
            HA Garrett, Dylan Gration, Tudor Groza, Marc Hanauer, Nomi L Harris, Ingo Helbig, Jason A Hilton, Daniel S Himmelstein, Charles T Hoyt, Megan S Kane, Sebastian Kohler,
            David Lagorce, Martin Larralde, Antonia Lock, Irene Lopez Santiago, Donna R Maglott, Adriana J Malheiro, Birgit HM Meldal, Julie A McMurry, Moni Munoz-Torres, Tristan H Nelson,
            David Ochoa, Tudor I Oprea, David Osumi-Sutherland, Helen Parkinson, Zoe M Pendlington, Ana Rath, Heidi L Rehm, Lyubov Remennik, Erin R Riggs, Paola Roncaglia, Justyne E Ross,
            Marion F Shadbolt, Kent A Shefchek, Morgan N Similuk, Nicholas Sioutos, Rachel Sparks, Ray Stefancsik, Ralf Stephan, Doron Stupp, Jagadish Chandrabose Sundaramurthi, Imke Tammen,
            Courtney L Thaxton, Eloise Valasek, <strong>Alex H Wagner</strong>, Danielle Welter, Patricia L Whetzel, Lori L Whiteman, Valerie Wood, Colleen H Xu, Andreas Zankl, Xingmin A Zhang, Christopher G Chute,
            Peter N Robinson, Christopher J Mungall, Ada Hamosh, Melissa A Haendel</strong></p>
        <p class="text-muted">medRxiv, doi: https://doi.org/10.1101/2022.04.13.22273750</p>
    </div>
</div>

<!-- 2021 -->
<div class="row">
    <h3 class="section-heading">2021</h3>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/cge.14052" target="_blank">Hypomorphic alleles pose challenges in rare disease genomic variant interpretation</a></h3>
        <p class="text-muted">Daniel K Nolan, <strong>Bimal Chaudhari</strong>, Samuel J Franklin, Saranga Wijeratne, Ruthann Pfau, Theresa Mihalic Mosher,
            Erin Crist, Kim L McBride, Peter White, Richard K Wilson, Scott E Hickey, Daniel C Koboldt</p>
        <p class="text-muted">Clinical Genetics, doi:  https://doi.org/10.1111/cge.14052</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41375-021-01458-0" target="_blank">Discovery of clinically relevant fusions in pediatric cancer</a></h3>
        <p class="text-muted">Stephanie LaHaye, James R Fitch, Kyle J Voytovich, Adam C Herman, Benjamin J Kelly, Grant E Lammi, <strong>Jeremy A Arbesfeld</strong>,
            Saranga Wijeratne, Samuel J Franklin, Kathleen M Schieffer, Natalie Bir, Sean D McGrath, Anthony R Miller, Amy Wetzel, Katherine E Miller,
            Tracy A Bedrosian, Kristen Leraas, Elizabeth A Varga, Kristy Lee, Ajay Gupta, Bhuvana Setty, Daniel R Boué, Jeffrey R Leonard,
            Jonathan L Finlay, Mohamed S Abdelbaki, Diana S Osorio, Selene C Koo, Daniel C Koboldt, <strong>Alex H Wagner</strong>, Ann-Kathrin Eisfeld,
            Krzysztof Mrózek, Vincent Magrini, Catherine E Cottrell, Elaine R Mardis, Richard K Wilson, Peter White</p>
        <p class="text-muted">BMC Genomics, doi: https://doi.org/10.1186/s12864-021-08094-z</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41375-021-01458-0" target="_blank">Recommendations for future extensions to the HGNC gene fusion nomenclature</a></h3>
        <p class="text-muted"><strong>Alex H Wagner</strong>, Yassmine Akkari, Marilyn Li, Angshumoy Roy, Karen Tsuchiya, Gordana Raca</p>
        <p class="text-muted">Leukemia, doi: https://doi.org/10.1038/s41375-021-01493-x</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S0006497121062972" target="_blank">Expert Curation of Somatic FLT3 Variants By the Clingen Somatic Hematologic Cancer Taskforce (ClinGen HCT)</a></h3>
        <p class="text-muted">Xiangqiang Shao, Shruti Rao, Coumarane Mani, Jason Saliba, Rong He, Chimene Kesserwan, Arpad Danos, Lana Sheta, Panieh Terraf,
            Gordana Raca, Heather Williams, Piers Blombery, David S Viswanatha, Celeste Eno, Nan Jiang, Kevin C Vavra, Liying Zhang, Zonggao Shi, Peng Li,
            Yuwen Li, Madhu Michael Ouseph, Ella R Thompson, Yiming Zhong, Kilannin Krysiak, <strong>Alex Wagner</strong>, Matthew McCoy, Mariam T Matthew, Kristin Deeb,
            Fengli Zhang, Jie Liu, Xiaonan Zhao, Alejandro Ferrer, Nathan Kopp, Wenying Zhang, Santhi Pondugula, Yasmina Jaufeerally Fakim, David Wu,
            Sheeja T Pullarkat, Shashikant Kulkarni, Subha Madhavan, Obi L Griffith, Malachi Griffith, Rashmi Kanagal-Shamanna, Xinjie Xu</p>
        <p class="text-muted">blood, doi: https://doi.org/10.1182/blood-2021-153546</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S2666979X21000367" target="_blank">GA4GH: International policies and standards for data sharing across genomic research and healthcare</a></h3>
        <p class="text-muted">Heidi L. Rehm, Angela J.H. Page, Lindsay Smith, Jeremy B. Adams, Gil Alterovitz, Lawrence J. Babb, Maxmillian P. Barkley, Michael Baudis, Michael J.S. Beauvais, Tim Beck, Jacques S. Beckmann,
            Sergi Beltran, David Bernick, Alexander Bernier, James K.Bonfield, Tiffany F. Boughtwood, Guillaume Bourque, Sarion R. Bowers, Anthony J. Brookes,
            Michael Brudno, Matthew H.Brush, David Bujold, Tony Burdett, Orion J. Buske, Moran N. Cabili, Daniel L. Cameron, Robert J. Carroll, Esmeralda Casas-Silva,
            Debyani Chakravarty, <strong>Bimal P.Chaudhari</strong>, Shu HuiChen, J. Michael Cherry, Justina Chung, Melissa Cline, Hayley L. Clissold, Robert M. Cook-Deegan, Mélanie Courtot,
            Fiona Cunningham, Miro Cupak, Robert M. Davies, Danielle Denisko, Megan J.Doerr, Lena I. Dolman, Edward S. Dove, L. Jonathan Dursi, Stephanie O.M. Dyke, James A. Eddy, Karen Eilbeck, Kyle P. Ellrott,
            Susan Fairley, Khalid A. Fakhro, Helen V. Firth, Michael S. Fitzsimons, Marc Fiume, Paul Flicek, Ian M. Fore, Mallory A. Freeberg, Robert R. Freimuth, Lauren A. Fromont, Jonathan Fuerth, Clara L. Gaff,
            Weiniu Gan, Elena M. Ghanaim, David Glazer, Robert C. Green, Malachi Griffith, Obi L. Griffith, Robert L. Grossman, Tudor Groza, Jaime M. Guidry Auvil, Roderic Guigó, Dipayan Gupta, Melissa A. Haendel,
            Ada Hamosh, David P. Hansen, Reece K.Hart, Dean Mitchell Hartley, David Haussler, Rachele M. Hendricks-Sturrup, Calvin W.L. Ho, Ashley E. Hobb, Michael M. Hoffman, Oliver M. Hofmann, Petr Holub,
            Jacob Shujui Hsu, Jean-Pierre Hubaux, Sarah E.Hunt, Ammar Husami, Julius O.Jacobsen, Saumya S.Jamuar, Elizabeth L.Janes, Francis Jeanson, Aina Jené, Amber L. Johns, Yann Joly, Steven J.M. Jones,
            Alexander Kanitz, Kazuto Kato, Thomas M. Keane, Kristina Kekesi-Lafrance, Jerome Kelleher, Giselle Kerry, Seik-Soon Khor, Bartha M. Knoppers, Melissa A. Konopko, Kenjiro Kosaki, Martin Kuba,
            Jonathan Lawson, Rasko Leinonen, Stephanie Li, Michael F. Lin, Mikael Linden, Xianglin Liu, Isuru Udara Liyanage, Javier Lopez, Anneke M. Lucassen, Michael Lukowski, Alice L. Mann, John Marshall,
            Michele Mattioni, Alejandro Metke-Jimenez, Anna Middleton, Richard J.Milne, Fruzsina Molnár-Gábor, Nicola Mulder, Monica C. Munoz-Torres, Rishi Nag, Hidewaki Nakagawa, Jamal Nasir, Arcadi Navarro,
            Tristan H. Nelson, Ania Niewielska, Amy Nisselle, Jeffrey Niu, Tommi H. Nyrönen, Brian D. O’Connor, Sabine Oesterle, Soichi Ogishima, Vivian Ota Wang, Laura A.D. Paglione, Emilio Palumbo,
            Helen E. Parkinson, Anthony A. Philippakis, Angel D. Pizarro, Andreas Prlic, Jordi Rambla, Augusto Rendon, Renee A. Rider, Peter N. Robinson, Kurt W.Rodarmer, Laura Lyman Rodriguez,
            Alan F. Rubin, Manuel Rueda, Gregory A. Rushton, Rosalyn S. Ryan, Gary I. Saunders, Helen Schuilenburg, Torsten Schwede, Serena Scollen, Alexander Senf, Nathan C. Sheffield, Neerjah Skantharajah,
            Albert V. Smith, Heidi J. Sofia, Dylan Spalding, Amanda B. Spurdle Zornitza Stark, Lincoln D. Stein, Makoto Suematsu, Patrick Tan, Jonathan A. Tedds, Alastair A. Thomson, Adrian Thorogood,
            Timothy L. Tickle, Katsushi Tokunaga, Juha Törnroos, David Torrents, Sean Upchurch, Alfonso Valencia, Roman Valls Guimera, Jessica Vamathevan, Susheel Varma, Danya F. Vears, Coby Viner,
            Craig Voisin, <strong>Alex H. Wagner</strong>, Susan E. Wallace, Brian P. Walsh, Marc S. Williams, Eva C. Winkler, Barbara J. Wold, Grant M. Wood, J. Patrick Woolley, Chisato Yamasaki, Andrew D. Yates,
            Christina K. Yung, Lyndon J. Zass, Ksenia Zaytseva, Junjun Zhang, Peter Goodhand, Kathryn North, Ewan Birney</p>
        <p class="text-muted">Cell Genomics, doi: https://doi.org/10.1016/j.xgen.2021.100027</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S2666979X21000343" target="_blank">The GA4GH Variation Representation Specification: A computational framework for variation representation and federated identification</a></h3>
        <p class="text-muted"><strong>Alex H. Wagner</strong>, Lawrence Babb, Gil Alterovitz, Michael Baudis, Matthew Brush, Daniel L Cameron, Melissa Cline,
            Malachi Griffith, Obi L Griffith, Sarah E Hunt, David Kreda, Jennifer M Lee, Stephanie Li, Javier Lopez, Eric Moyer, Tristan Nelson, Ronak Y Patel, Kevin Riehle,
            Peter N Robinson, Shawn Rynearson, Helen Schuilenburg, Kirill Tsukanov, Brian Walsh, Melissa Konopko, Heidi L Rehm, Andrew D Yates, Robert R Freimuth, Reece K Hart</p>
        <p class="text-muted">Cell Genomics, doi: https://doi.org/10.1016/j.xgen.2021.100027</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41372-021-01123-5" target="_blank">Relationship between physician prognosis bias and parental optimism bias</a></h3>
        <p class="text-muted"><strong>Bimal P Chaudhari</strong></p>
        <p class="text-muted">Journal of Perinatology, doi: https://doi.org/10.1038/s41372-021-01123-5</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.664278/full" target="_blank">Polymerase Gamma Mitochondrial DNA Depletion Syndrome Initially Presenting as Disproportionate Respiratory Distress in a Moderately Premature Neonate: A Case Report</a></h3>
        <p class="text-muted">Daniel C Koboldt, Scott E Hickey, <strong>Bimal P Chaudhari</strong>, Theresa Mihalic Mosher, Tracy Bedrosian, Erin Crist, Stephen G Kaler,
            Kim McBride, Peter White, Richard K Wilson</p>
        <p class="text-muted">Frontiers in Genetics, doi: https://doi.org/10.3389/fgene.2021.664278</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="http://molecularcasestudies.cshlp.org/content/6/3/a005306.short" target="_blank">Early-onset Wilson disease caused by ATP7B exon skipping associated with intronic variant</a></h3>
        <p class="text-muted">Andrew D Franklin, <strong>Bimal P Chaudhari</strong>, Daniel C Koboldt, Kerri Z Machut</p>
        <p class="text-muted">Molecular Case Studies, doi: https://doi.org/10.1101/mcs.a005306</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a href="https://www.nature.com/articles/s41390-019-0597-z" target="_blank">A pediatric perspective on genomics and prevention in the twenty-first century</a></h3>
        <p class="text-muted"><strong>Bimal P Chaudhari</strong>, Kandamurugu Manickam, Kim L McBride</p>
        <p class="text-muted">Pediatric Research, doi: https://doi.org/10.1038/s41390-019-0597-z</p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a
                href="https://www.sciencedirect.com/science/article/pii/S1044579X21000341" target="_blank">Artificial intelligence and pathology: From principles to practice
                and future applications in histomorphology and molecular profiling</a>
        </h3>
        <p class="text-muted">Albrecht Stenzinger, Maximilian Alber, Michael Allgäuer, Philipp Jurmeister, Michael Bockmayr, Jan Budczies, Jochen Lennerz,
            Johannes Eschrich, Daniel Kazdal, Peter Schirmacher, <strong>Alex H Wagner</strong>, Frank Tacke, David Capper, Klaus-Robert Müller, Frederick Klauschen</p>
        <p class="text-muted">Seminars in Cancer Biology, doi: https://doi.org/10.1016/j.semcancer.2021.02.011
        </p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a
                href="https://academic.oup.com/nar/article/49/D1/D1144/6006193" target="_blank">Integration of the Drug–Gene Interaction Database
                (DGIdb 4.0) with open crowdsource efforts</a>
        </h3>
        <p class="text-muted">Sharon L Freshour, Susanna Kiwala, Kelsy C Cotto, Adam C Coffman, Joshua F McMichael, Jonathan J Song,
            Malachi Griffith, Obi L Griffith, <strong>Alex H Wagner</strong></p>
        <p class="text-muted">Nucleic Acids Research, doi: https://doi.org/10.1093/nar/gkaa1084
        </p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a
                href="https://www.medrxiv.org/content/10.1101/2021.11.27.21266944v1.full-text" target="_blank">The GA4GH Phenopacket schema: A computable representation of
                clinical data for precision medicine</a>
        </h3>
        <p class="text-muted">Julius OB Jacobsen, Michael Baudis, Gareth S Baynam, Jacques S Beckmann, Sergi Beltran, Tiffany J Callahan, Christopher G Chute,
            Melanie Courtot, Daniel Danis, Olivier Elemento, Robert R Freimuth, Michael A Gargano, Tudor Groza, Ada Hamosh, Nomi L Harris, Rajaram Kaliyaperumal,
            Aly Khalifa, Peter M Krawitz, Sebastian Koehler, Brian J Laraway, Heikki Lehväslaiho, Kent C Lloyd, Leslie Matalonga, Julie A McMurry, Alejandro Metke-Jimenez,
            Christopher J Mungall, Monica C Munoz-Torres, Soichi Ogishima, Anastasios Papakonstantinou, Davide Piscia, Nikolas Pontikos, Nuria Queralt-Rosinach, Marco Roos,
            Paul N Schofield, Anastasios Siapos, Damian Smedley, Lindsay D Smith, Robin Steinhaus, Jagadish Chandrabose Sundaramurthi, Emilia M Swietlik, Sylvia Thun,
            Nicole A Vasilevsky, <strong>Alex H Wagner</strong>, Jeremy L Warner, Claus Weiland, Melissa A Haendel, Peter N Robinson.</p>
        <p class="text-muted">medRxiv, doi: https://doi.org/10.1101/2021.11.27.21266944
        </p>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-2">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-10">
        <h3 class="service-heading"><a
                href="https://www.biorxiv.org/content/10.1101/2021.06.13.448171v1.full" target="_blank">Evolution of the open-access CIViC knowledgebase is driven by the
                needs of the cancer variant interpretation community</a>
        </h3>
        <p class="text-muted">Kilannin Krysiak, Arpad M Danos, Susanna Kiwala, Joshua F McMichael, Adam C Coffman, Erica K Barnell, Lana Sheta,
            Jason Saliba, Cameron J Grisdale, Lynzey Kujan, Shahil Pema, Jake Lever, Nicholas C Spies, Andreea Chiorean, Damian T Rieke,
            Kaitlin A Clark, Payal Jani, Hideaki Takahashi, Peter Horak, Deborah I Ritter, Xin Zhou, Benjamin J Ainscough, Sean Delong,
            Mario Lamping, Alex R Marr, Brian V Li, Wan-Hsin Lin, Panieh Terraf, Yasser Salama, Katie Campbell, Kirsten M Farncombe,
            Jianling Ji, Xiaonan Zhao, Xinjie Xu, Rashmi Kanagal-Shamanna, Kelsy C Cotto, Zachary L Skidmore, Jason R Walker,
            Jinghui Zhang, Aleksandar Milosavljevic, Ronak Y Patel, Rachel H Giles, Raymond H Kim, Lynn M Schriml, Elaine R Mardis,
            Steven JM Jones, Gordana Raca, Shruti Rao, Subha Madhavan, <strong>Alex H Wagner</strong>, Obi L Griffith, Malachi Griffith.</p>
        <p class="text-muted">bioRxiv, https://doi.org/10.1101/2021.06.13.448171</p>
    </div>
</div>
<!-- 2020 -->
        <div class="row">
            <h3 class="section-heading">2020</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S0006497118734320#!" target="_blank">Expert Curation of Somatic Variants in Hematological Malignancies By the
                    Clingen Somatic Hematological Cancer Taskforce (ClinGen HCT)</a></h3>
                <p class="text-muted">Rashmi Kanagal-Shamanna, Shruti Rao, Panieh Terraf, Gordana Raca, Jason Saliba, Arpad Danos, Coumarane Mani,
                     Heather Williams, Nan Jiang, Kevin C Vavra, Liying Zhang, Zonggao Shi, Peng Li, Yuwen Li, Madhu Michael Ouseph, Ella R Thompson,
                     Yiming Zhong, Nicole Hinceman, Rong He, Kilannin Krysiak, <strong>Alex Wagner</strong>, Matthew McCoy, Mariam T Matthew, Kristin Deeb, Fengli Zhang,
                     Jie Liu, David S Viswanatha, Piers Blombery, David Wu, Shashikant Kulkarni, Subha Madhavan, Xinjie Xu.</p>
                <p class="text-muted">blood, https://doi.org/10.1182/blood-2020-143028</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://www.sciencedirect.com/science/article/pii/S0006497118695692#!" target="_blank">Creating a variant database for the American Society of Hematalogy by consensus variant classification of common genes associated with hematologic malignancies</a></h3>
                <p class="text-muted">Niroshan Nadarajah, <strong>Alex Wagner</strong>, Rafael Bejar, Mark Ewalt, Annette S Kim, Michelle M Le Beau, Xiaotu Ma, Manja Meggendorfer, Jamile M Shammo, Gabriella Ryan, Alexa J Siddon, David P Steensma, Matthew J Walter, Ahmet Zehir, Jinghui Zhang, Torsten Haferlach.</p>
                <p class="text-muted">blood,  https://doi.org/10.1182/blood-2020-141204</p>
            </div>
        </div>

        <!-- 2019 -->
        <div class="row">
            <h3 class="section-heading">2019</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://elifesciences.org/articles/46922">Large,
                        three-generation CEPH families reveal post-zygotic mosaicism and variability in germline
                        mutation accumulation</a></h3>
                <p class="text-muted">Thomas. A Sasani, Brent S. Pedersen, Ziyue Gao, Lisa Baird, Molly Przeworski, Lynn
                    B. Jorde, <strong>Aaron R. Quinlan</strong>.</p>
                <p class="text-muted">eLife, https://elifesciences.org/articles/46922</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="https://academic.oup.com/gigascience/article/8/4/giz040/5477467">Duphold: scalable,
                        depth-based annotation and curation of high-confidence structural variant calls.</a></h3>
                <p class="text-muted">Brent S. Pedersen, <strong>Aaron R. Quinlan</strong>.</p>
                <p class="text-muted">GigaScience, https://doi.org/10.1093/gigascience/giz040</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="https://www.pnas.org/content/early/2019/04/23/1901259116">Overlooked roles of DNA damage
                        and maternal age in generating human germline mutations.</a></h3>
                <p class="text-muted">Ziyue Gao, Priya Moorjani, Thomas A. Sasani, Brent S. Pedersen, <strong>Aaron R.
                        Quinlan</strong>, Lynn B. Jorde, Guy Amster, Molly Przeworski.</p>
                <p class="text-muted">PNAS, https://doi.org/10.1073/pnas.1901259116</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://genome.cshlp.org/content/29/4/532.long">Coexpression
                        patterns define epigenetic regulators associated with neurological dysfunction.</a></h3>
                <p class="text-muted">Leandros Boukas, James M. Havrilla, Peter F. Hickey, <strong>Aaron R.
                        Quinlan</strong>, Hans T. Bjornsson, Kasper D. Hansen.</p>
                <p class="text-muted">Genome Research, https://doi.org/10.1101/gr.239442.118</p>
            </div>
        </div>
        <!-- 2018 -->
        <div class="row">
            <h3 class="section-heading">2018</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="https://www.nature.com/articles/s41588-018-0294-6">A map of
                        constrained coding regions in the human genome.</a></h3>
                <p class="text-muted">James M. Havrilla, Brent S. Pedersen, Ryan M. Layer, <strong>Aaron R.
                        Quinlan</strong></p>
                <p class="text-muted">Nature Genetics, https://doi.org/10.1038/s41588-018-0294-6</p>
            </div>
        </div>
        <!-- 2017 -->
        <div class="row">
            <h3 class="section-heading">2017</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="https://academic.oup.com/gigascience/article/6/11/1/4160383">Indexcov: fast coverage
                        quality control for whole-genome sequencing.</a></h3>
                <p class="text-muted"> Brent S. Pedersen, Ryan L Collins, Michael E Talkowski, <strong>Aaron
                        Quinlan</strong></p>
                <p class="text-muted">GigaScience doi.org/10.1093/gigascience/gix090</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="row">
            <h3 class="section-heading">2016</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="http://genomebiology.biomedcentral.com/articles/10.1186/s13059-016-0973-5">Vcfanno: fast,
                        flexible annotation of genetic variants.</a></h3>
                <p class="text-muted">Pedersen BS, Layer RM, <strong>Quinlan AR†</strong></p>
                <p class="text-muted">Genome Biol. doi: 10.1186/s13059-016-0973-5</p>
            </div>
        </div>


        <div class="row">
            <h3 class="section-heading">2015</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-fast-forward fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="http://www.nature.com/nmeth/journal/v12/n10/full/nmeth.3505.html">Speedseq: Ultra-fast
                        personal genome analysis and interpretation.</a></h3>
                <p class="text-muted">Chiang C, Layer RM, Faust GG, Lindberg MR, Rose DB, Garrison EP, Marth GT,
                    <strong>Quinlan AR</strong>, Hall IM.
                </p>
                <p class="text-muted">Nature Methods. doi:10.1038/nmeth.3505</p>
            </div>
        </div>
        <div class="row">
            <h3 class="section-heading">2014</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pubmed/25458999">Genetics of Systemic
                        Lupus Erythematosus: Immune Responses and End Organ Resistance to Damage.</a></h3>
                <p class="text-muted">Dai C, Deng Y, <strong>Quinlan AR</strong>, Gaskin F, Tsao B, Fu SM.
                <p class="text-muted">Current Opinion in Immunology. doi:10.1016/j.coi.2014.10.004</p>
            </div>
        </div>
        <div class="row">
            <h3 class="section-heading">2013</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003153">GEMINI:
                        Integrative Exploration of Genetic Variation and Genome Annotations.</a></h3>
                <p class="text-muted">Paila U, Chapman BA, Kirchner R, <strong>Quinlan AR†</strong>.
                <p class="text-muted">PLoS Comput Biol. doi:10.1371/journal.pcbi.1003153</p>
            </div>
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3852929/">Joint linkage
                        and association analysis with exome sequence data implicates SLC25A40 in
                        hypertriglyceridemia.</a></h3>
                <p class="text-muted">Rosenthal EA, Ranchalis J, Crosslin DR, Burt A, Brunzell JD, Motulsky AG,
                    Nickerson DA; NHLBI GO Exome Sequencing Project, Wijsman EM, Jarvik GP.
                <p class="text-muted">Am J Hum Genet., doi: 10.1016/j.ajhg.2013.10.019</p>
            </div>
        </div>
        <div class="row">
            <h3 class="section-heading">2007-2012</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="http://genome.cshlp.org/content/early/2012/05/14/gr.138115.112.abstract">Copy number
                        variation detection and genotyping from exome sequence data.</a></h3>
                <p class="text-muted">Krumm N, Sudmant PH, Ko A, O‘Roak BJ, NHLBI Exome Sequencing Project,
                    <strong>Quinlan AR</strong>, Nickerson DA, Eichler EE.
                <p class="text-muted">Genome Research. doi: 10.1101/gr.138115.112</p>
            </div>
            <div class="col-md-2">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col-md-10">
                <h3 class="service-heading"><a
                        href="http://www.cell.com/trends/genetics/abstract/S0168-9525(11)00168-5?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0168952511001685%3Fshowall%3Dtrue">Characterizing
                        complex structural variation in germline and somatic genomes.</a></h3>
                <p class="text-muted"><strong>Quinlan AR</strong> and Hall IM.
                <p class="text-muted">Trends in Genetics. doi: http://dx.doi.org/10.1016/j.tig.2011.10.002
                </p>
            </div>
        </div>
    </div>
</section>
