<!-- Research Section -->
<head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<section id="research" id="research">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">Research</h1>
            <h3 class="section-subheading text-muted news">The research in our laboratory is focused on the application
                of computational methods to develop a deeper understanding of genetic variation in diverse contexts.
                Modern experimental methods allow us to examine entire genomes with exquisite detail. Perhaps not
                surprisingly, staggering complexity is revealed as we look more closely at how genetic variation (both
                inherited and somatic) contributes to phenotypes. Modern genomic technologies necessitate efficient
                approaches for exploring, manipulating and comparing large genomic datasets. We develop such methods so
                that we and others may apply them to experiments investigating the impact of genetic variation on human
                disease, evolution, and somatic differentiation. Genome research is difficult - we strive to develop
                computational means that make it easier.</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <class="timeline">

                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/research/ga4gh.png" alt="" style="height: 200px; width: 200px;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">Genomics Standards</h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We develop and apply new specifications and tools for standardizing genomic data and enabling more robust and predcise
                                    tranfer of information from genomic knowledgebases. Our <a
                                        href="https://vrs.ga4gh.org/en/stable/">Variation Representation Specification</a> is central
                                    to these efforts, and our laboratory collaborates with other members of the <a
                                        href="https://www.ga4gh.org/">Genomics Alliance for Genomics and Health</a>.</p>
                            </div>
                        </div>


                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/team/garlic_toast.jpg" alt="" style="height: 200px; width: 200px;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">Structural variation</h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Human chromosomes harbor hundreds of structural differences
                                    including deletions, insertions, duplications, inversions, and translocations.
                                    Collectively, these differences are known as "structural variation" (or, "SV"). Any
                                    two humans differ by thousands of structural variants which vary greatly in size and
                                    phenotypic consequence. However, we are just beginning to understand the
                                    contribution of SV to evolution, development, and complex disease. Our laboratory
                                    continues to develop new methods such as <a
                                        href="https://github.com/arq5x/lumpy-sv">LUMPY</a> for detecting and
                                    understanding structural variation using modern DNA sequencing techniques.</p>
                            </div>
                        </div>

                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/team/garlic_toast.jpg" alt="" style="height: 200px; width: 200px;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">Cancer genomics and genome evolution</h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Massively parallel DNA sequencing has yielded detailed maps of
                                    clonal variation in human cancer, through an inference of clonal substructure by
                                    analysis of variant allele frequencies in bulk tumor cell populations and direct
                                    sequencing of single cells. Dynamic changes in clonal structure over time and under
                                    the selective pressure of treatment have been extensively studied in hematologic
                                    malignancies, but are less well characterized in solid cancers. Our understanding of
                                    the dynamics of clonal change and its role in therapeutic response and the emergence
                                    of resistance is in its infancy. However, deeper insight is accessible via
                                    significant advances in sequencing and new algorithms. We are developing new methods
                                    to identify genomic changes that are responsible for clonal evolution,
                                    chemoresistance, and relapse.</p>
                            </div>
                        </div>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/team/garlic_toast.jpg" alt="" style="height: 200px; width: 200px;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading">Algorithm and Software Development</h3>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Broadly speaking, the research in my laboratory marries genetics
                                    with genomics technologies, computer science, and machine learning techniques to
                                    develop new strategies for gaining insight into genome biology. We try to tackle
                                    challenging problems with practical importance to understanding genome variation in
                                    the context of human disease. We actively maintain a broad range of widely used
                                    tools for genome research including: <a
                                        href="http://bedtools.readthedocs.org/en/latest/">BEDTOOLS</a>, <a
                                        href="http://gemini.readthedocs.org/en/latest/">GEMINI</a>, <a
                                        href="https://github.com/arq5x/lumpy-sv">LUMPY</a>, <a
                                        href="https://github.com/brentp/vcfanno">VCFANNO</a>, <a
                                        href="https://github.com/brentp/peddy">PEDDY</a>, and <a
                                        href="https://github.com/ryanlayer/gqt">GQT</a>.</p>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>
