<!-- Team Section -->
<head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <h1 class="section-heading">The Lab</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="img/nationwide.jpeg" class="img-responsive" alt="" style="width:100%; height:100%;">
                <h3 class="section-subheading text-muted">The Wagner Lab works to improve the actionability and throughput of clinical variant interpretation.
                    The team researches and develops methods, tools and standards for the exchange and application of biomedical evidence informing genomic variant interpretation.
                    <a href="https://www.nationwidechildrens.org/specialties/institute-for-genomic-medicine">Steve and Cindy Rasmussen Institute for Genomic Medicine</a>.
                    the Wagner Lab coordinates with the interdisciplinary clinical and scientific expertise at the Steve and Cindy Rasmussen Institute for Genomic Medicine
                    at Nationwide Children’s Hospital to target key areas for growth and application of the Institute’s clinical evidence databases.
                    The lab team also collaborates with multiple international genomic knowledge sharing consortia to develop these methods, standards and tools.
                    These consortia include the <a href="https://clinicalgenome.org/">Clinical Genome Resource (ClinGen)</a>, the <a href="https://www.ga4gh.org/">Global Alliance for Genomics and Health (GA4GH)</a> and the
                    <a href="https://cancervariants.org/">Variant Interpretation for Cancer Consortium (VICC)</a>. Their collaboration with these groups helps them build and standardize impactful data
                    sharing capabilities, multiplying the benefit of their applied research at the Institute for Genomic Medicine.</h3>
            </div>
        </div>


        {% assign loopindex = 0 %}
        {% for member in site.people %}
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 2 %}
        {% if rowfinder == 1 %}
        <div class="row">
            <div class="col-md-6">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle current-member" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <!-- Team Section <p class="text-muted">{{ member.bio }}</p> -->
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                    </ul>
                </div>
            </div>
            {% elsif rowfinder == 0 %}
            <div class="col-md-6">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle current-member" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <!-- Team Section <p class="text-muted">{{ member.bio }}</p> -->
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-6">
            <div class="team-member">
                <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle current-member" alt="">
                <h4>{{ member.name }}</h4>
                <p class="text-muted">{{ member.position }}</p>
                <!-- Team Section <p class="text-muted">{{ member.bio }}</p> -->
                <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if rowfinder != 0 %}
    </div>
    {% endif %}

    <div class="row">
        <h3 class="section-heading">Alumni</h3>
    </div>

    {% assign loopindex = 0 %}
    {% for member in site.alumni %}
    {% assign loopindex = loopindex | plus: 1 %}
    {% assign rowfinder = loopindex | modulo: 6 %}
    {% if rowfinder == 1 %}
    <div class="row">
        <div class="col-md-2">
            <div class="team-member">
                <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                <h4>{{ member.name }}</h4>
                <p class="text-muted">{{ member.position }}</p>
                <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                </ul>
            </div>
        </div>
        {% elsif rowfinder == 0 %}
        <div class="col-md-2">
            <div class="team-member">
                <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                <h4>{{ member.name }}</h4>
                <p class="text-muted">{{ member.position }}</p>
                <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-md-2">
        <div class="team-member">
            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
            <h4>{{ member.name }}</h4>
            <p class="text-muted">{{ member.position }}</p>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if rowfinder != 0 %}
    </div>
    {% endif %}
    </div>
</section>
