{% if page.collection == "people" or page.collection == "papers" or
page.collection == "posts" or page.collection == "projects" or page.collection
== "software" %}
<div class="page-title-box wrapper">
  <div class="title-box">
    <h1 class="title-text">{{ page.name }}</h1>
    {% if page.collection == "posts" %} {% assign subtitle = page.date | date:
    "%B %-d, %Y" %} {% elsif page.collection == "people" %} {% assign subtitle =
    page.role %} {% elsif page.collection == "projects" %} {% assign subtitle =
    "Research Project" %} {% elsif page.collection == "papers" %} {% capture
    year %}{{ page.date | date:"%Y" }}{% endcapture %} {% if page.publisher_url
    == null %} {% assign journal = page.journal_cite | split: " " | first %} {%
    capture preprint_server %}{% if page.preprint contains "biorxiv" %}bioRxiv{%
    elsif page.preprint contains "medrxiv" %}medRxiv{% else %}arXiv{% endif %}{%
    endcapture %} {% capture subtitle %}{{ preprint_server }} ({{ year }}){%
    endcapture %} {% else %} {% capture subtitle %}{{ page.journal }} ({{ year
    }}){% endcapture %} {% endif %} {% endif %}
    <h3 class="subtitle-text">{{ subtitle }}</h3>
  </div>
</div>
{% else %}
<div class="page-title-box wrapper">
  <div class="title-box">
    <h1 class="title-text">{{ page.title }}</h1>
  </div>
</div>
{% endif %}
