.news-list-container {
  p {
    margin-bottom: 0px;
  }

  .news-list-item:not(:last-child) {
    margin-bottom: calc($spacing-unit / 2);
  }

  .news-list-item {
    .main-column {
      .title-link {
        font-weight: bold;
      }
    }
    .news-descr {
      p {
        display: inline;
      }
    }
  }
}
