.news-list-container {
  margin-top: calc($spacing-unit / 2);

  .news-year {
    font-size: $header-font-size;
    font-weight: bold;
  }

  .news-list-item {
    font-size: calc($base-font-size * 1.2);
    margin-top: 0px !important;

    .news-list-date {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
