.papers {
  .papers-context {
    padding-top: 0px;
  }
  .papers-container {
    margin-top: $spacing-unit;

    .section-header: {
      margin-bottom: 0px !important;
    }
  }

  .paper-list {
    list-style-type: none;
    margin-left: 0px;
  }

  .paper-list-item-container {
    margin-top: 0px;
    padding-top: calc($spacing-unit / 2);
    padding-bottom: calc($spacing-unit / 2);

    @media screen and (max-width: $content-width) {
      .side-column {
        display: none;
      }
      .main-column {
        padding-left: 0px;
        width: 100%;
      }
    }
  }

  .paper-list-item > p {
    margin-bottom: 0px;
  }

  .paper-list-thumbnail {
    width: 170px;
    border: 2px solid black;
    padding: 7px;
  }

  .year-header {
    h2 {
      margin: 0px;
    }
  }
}
