.paper {
  .side-column {
    .side-list {
      margin-left: 0px;
      margin-bottom: 0px;
    }

    .side-list > li {
      list-style: none;
    }

    .citation {
      font-size: calc($base-font-size * 0.8);
      .cite-link {
        font-weight: bold;
      }
    }
  }
  .main-column {
    .paper-figure-container {
      display: flex;
      justify-content: center;

      .paper-figure {
        max-height: 300px;
        $img-padding: calc($spacing-unit * 0.7);
        max-width: calc($main-column-width * 0.6);
        border: 3px solid black;
        padding: $img-padding;
        margin-bottom: $img-padding;
        margin-left: $img-padding;
        margin-right: $img-padding;
      }
    }
  }
}
@media screen and (max-width: $content-width) {
  .two-column {
    flex-direction: column-reverse;
    .side-column {
      width: 100%;
    }
    .main-column {
      padding-left: 0px;
      width: 100%;
    }
  }
}
