.people-list-container {
    h2 {
    padding-top: calc($spacing-unit / 2);

    }
  .top-border {
    border-top: 5px black solid;
  }
}
.people-list {
  list-style-type: none;
  margin-left: 0px;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  max-width: 100% !important;
}

.people-list-item {
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.people-list-thumbnail {
  width: 100px;
}

.people-list-item-content-container {
  margin-left: 10px;
  padding: 10px;
}

.people-list-item-content-container > p {
  margin-bottom: 0px;
}
