.person {
  .side-column {
    .placeholder-pic-container {
      height: 175px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .placeholder-pic {
        font-size: 5em;
        color: #686868;
      }
    }
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
    }

    .cite-link {
      font-weight: bold;
    }
  }
}
