.projects-container {
  .project-container {
    margin-bottom: calc($spacing-unit / 2);
    h2 > a {
      text-decoration: none;
    }
    h2 > a:hover {
      text-decoration: underline;
    }
  }
  .project-container:not(:first-child) {
    padding-top: calc($spacing-unit / 2);
  }

  .project-excerpt {
    p {
      display: inline;
    }
  }
}
