.software-index-container {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;

  .software-list-item {
    width: calc((#{$content-width} - (#{$spacing-unit})) / 4);
    margin-bottom: 50px;

    .software-name {
      font-size: 18px;
      font-weight: bold;
    }

    .software-languages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .language-badge {
        margin-right: 3px;
      }
    }
  }
}
