.section-header {
  border-top: 5px black solid;
  text-transform: uppercase;
  font-weight: bold;
}

.subsection-header {
  border-top: 3px black solid;
  text-transform: uppercase;
  font-weight: bold;
}
