---
layout: default
---
<div class="news-content-container two-column">
  <div class="news-sidebar side-column">

    <h2>{{ page.date | date: "%F" }}</h2>

    {% if page.people %}
    <div class="people">
    <h2>People</h2>
    <ul>
    {% for p in page.people %}
    {% assign person = site.people | where:"name", p  | first %}
    <li><a href="{{ person.url }}">{{ person.name }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
  </div>

  <div class="news-content main-column">
    {{ page.content }}
  </div>
</div>
