---
layout: default
---
<div class="two-column">
  <div class="side-column">
    <div class="side-column-section">
      {% if page.headshot %}
        <img src="/assets/images/people/{{ page.headshot }}" class="person-headshot"/>
      {% else %}
        <i class="fa-solid fa-user fa-10x"></i>
      {% endif %}
    </div>
    <div class="side-column-section">
      <table class="person-links-box">
        <colgroup>
          <col span="1" style="width: 10%;">
          <col span="1" style="width: 90%;">
        </colgroup>
      {% if page.orcid %}
      <tr>
      <td>
      <a href="{{ page.orcid }}"><i class="fa-brands fa-orcid"></i></a>
      </td>
      <td><a href="{{ page.orcid }}">ORCiD</a></td>
      </tr>
      <tr>
      {% endif %}
      {% if page.github %}
      <tr>
      <td>
      <a href="https://www.github.com/{{ page.github }}"><i class="fa-brands fa-github"></i></a>
      </td>
      <td><a href="{{ page.github }}">GitHub</a></td>
      </tr>
      <tr>
      {% endif %}
      {% if page.google_scholar %}
      <tr>
      <td>
      <a href="{{ page.google_scholar }}"><i class="fa-solid fa-graduation-cap"></i></a>
      </td>
      <td><a href="{{ page.google_scholar }}">Google Scholar</a></td>
      </tr>
      <tr>
      {% endif %}
      {% if page.personal_site %}
      <tr>
      <td>
      <a href="{{ page.personal_site }}"><i class="fa-solid fa-house"></i></a>
      </td>
      <td><a href="{{ page.personal_site }}">Personal Site</a></td>
      </tr>
      <tr>
      {% endif %}
      {% if page.linkedin %}
      <tr>
      <td>
      <a href="{{ page.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
      </td>
      <td><a href="{{ page.linkedin }}">LinkedIn</a></td>
      </tr>
      <tr>
      {% endif %}
      </table>

    </div>
  </div>
  <div class="main-column">
    {{ content }}

    <h3>Papers</h3>

    {% for paper in site.papers reversed %}
      {% if paper.authors contains page.name %}
      <ul>
        <li>
            <a href="{{ paper.url }}">{{ paper.title }}</a>
        </li>
      </ul>
      {% else %}
      {% for name in page.pub_names %}
      {% if paper.authors contains name %}
      <ul>
          <li>
              <a href="{{ paper.url }}">{{ paper.title }}</a>
          </li>
      </ul>
      {% endif %}
      {% endfor %}
      {% endif %}
    {% endfor %}

  </div>
</div>
