---
layout: default
---
<h1>{{ page.name }}</h1>

<p>{{ page.role }}</p>

{% if page.headshot %}
  <img src="/assets/images/people/{{ page.headshot }}" />
{% else %}
  <i class="fa-solid fa-user fa-10x"></i>
{% endif %}

<p />

{% if page.orcid %}
<a href="{{ page.orcid }}"><i class="fa-brands fa-orcid"></i></a>
{% endif %}
{% if page.github %}
<a href="https://www.github.com/{{ page.github  }}"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if page.google_scholar %}
<a href="{{ page.google_scholar }}"><i class="fa-solid fa-graduation-cap"></i></a>
{% endif %}
{% if page.personal_site %}
<a href="{{ page.personal_site }}"><i class="fa-solid fa-house"></i></a>
{% endif %}
{% if page.linkedin %}
<a href="{{ page.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}

{{ content }}

<h3>Papers</h3>

{% for paper in site.papers reversed %}
{% if paper.authors contains page.name %}
<ul>
  <li>
      <a href="{{ paper.url }}">{{ paper.title }}</a>
  </li>
</ul>
{% else %}
{% for name in page.pub_names %}
{% if paper.authors contains name %}
<ul>
    <li>
        <a href="{{ paper.url }}">{{ paper.title }}</a>
    </li>
</ul>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
