---
layout: default
---

<div class="two-column">
  <div class="side-column">
    {% if page.links.size > 0 %}
    <div class="side-column-section">
      <p class="header">Links</p>
      <ul class="side-list">
        {% for link in page.links %}
        <li>
          <a href="{{ link.url }}" target="_blank" rel="noopener"
            >{{ link.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% assign software = site.software | where_exp:"item",
    "item.projects contains page.name" %} {% if software.size > 0 %}
    <div class="side-column-section">
      <p class="header">Software</p>
      <ul class="side-list">
        {% for s in software %}
        <li><a href="{{ s.url }}">{{ s.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="main-column">
    {{ page.content }} {% assign project_posts = site.posts | where_exp:"item",
    "item.projects contains page.name" %} {% if project_posts %}
    <p class="subsection-header">Recent news</p>
    <ul>
      {% for post in project_posts limit:3 %}
      <li><a href="{{ post.url }}">{{ post.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %} {% assign papers = site.papers | where_exp:"item",
    "item.projects contains page.name" %} {% if papers.size > 0 %}
    <p class="subsection-header">Papers</p>
    <ul class="">
      {% for paper in papers reversed %}
        <li>{% include paper_link.html %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
