---
layout: default
---
<h1>{{ page.name }}</h1>

{{ page.content }}

{% assign papers = site.papers | where_exp:"item", "item.projects contains page.name" %}
{% if papers.size > 0 %}
<h3>Papers</h3>
<ul>
{% for paper in papers %}
    <li><a href="{{ paper.url }}">{{ paper.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% assign software = site.software | where_exp:"item", "item.projects contains page.name" %}
{% if software.size > 0 %}
<h3>Software</h3>
<ul>
{% for s in software %}
    <li><a href="{{ s.url }}">{{ s.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

