---
layout: default
---
<div class="two-column">
  <div class="side-column">
    <div class="side-column-section">
      <p class="header">Links</p>
      <ul class="side-list">
        {% if page.source %}
        <li>
          <a href="{{ page.source }}" rel="noopener" target="_blank">Source</a>
        </li>
        {% endif %} {% if page.docs %}
        <li>
          <a href="{{ page.docs }}" rel="noopener" target="_blank"
            >Documentation</a
          >
        </li>
        {% endif %} {% if page.distribution %}
        <li>
          <a href="{{ page.distribution }}" rel="noopener" target="_blank"
            >Distribution</a
          >
        </li>
        {% endif %} {% if page.live %}
        <li>
          <a href="{{ page.live }}" rel="noopener" target="_blank"
            >Live service</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
    {% if page.contributors %}
    <div class="side-column-section">
      <p class="header">Contributors</p>
      <ul class="side-list">
        {% for contributor in page.contributors %} {% assign person =
        site.people | where:"github",contributor | first %} {% if person %}
        <li><a href="{{ person.url }}">{{ person.name }}</a></li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="main-column">
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% endif %}
    {% if page.latest_commits.size > 0 %}
    <p class="subsection-header">Recent commits</p>
    <ul class="commits-list">
      {% for commit in page.latest_commits %}
        <li>
          <a
            class="commit-link"
            href="{{ commit.url }}"
            target="_blank"
            rel="noopener"
            >{{ commit.commit }}</a
          >
          by
          {% assign commit_person = site.people | where:"github",commit.author | first %}
          {% if commit_person %}
            <a class="commit-author-link" href="{{ commit_person.url }}">
              {{ commit_person.name }}
            </a>
          {% else %}
            {{ commit.author }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
