.site-footer-container {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon-box-container {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      .icon-box {
        height: 10px;
        width: 10px;
      }
      > *:not(:first-child) {
        margin-left: 10px;
      }
      > *:not(:last-child) {
        margin-right: 10px;
      }
    }

    $footer-spacing: calc($spacing-unit / 2);

    .footer-box {
      margin-top: $footer-spacing;
      margin-bottom: $footer-spacing;
      max-width: calc($spacing-unit * 8);

      p {
        margin-bottom: 0px;
      }
    }

    .footer-box .left {
      margin-right: $footer-spacing;
    }
    .footer-box .right {
      margin-left: $footer-spacing;
    }
  }
}
