.site-footer-container {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  $footer-height: calc($spacing-unit * 3.5);
  min-height: $footer-height;
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-column {
      min-height: $footer-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .footer-column.left {
      p {
        margin-bottom: 0px;
        font-size: calc($base-font-size * 0.8);
      }
    }

    .footer-column.right {
      .nch-logo {
        height: 50px;
      }
    }
  }
}
