.site-header {
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  $title-height: calc($spacing-unit * 5);
  min-height: $title-height;
  margin-bottom: $spacing-unit;

  .header-bg-img-container {
    min-height: $title-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 5px solid black;
  }

  .bg-img-tint {
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
  }

  #menu-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;

    .site-title {
      text-decoration: none;
      font-weight: bold;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .nav-trigger {
    display: none;
  }

  .trigger > *:not(:last-child) {
    padding-right: calc($spacing-unit / 2);
  }

  label {
    display: none;
  }

  .page-link {
    // text-transform: uppercase;
  }

  .page-title-box {
    width: 100%;
  }
  .title-box {
    $title-spacing: calc($spacing-unit / 2);
    padding-top: $title-spacing;
    // padding-bottom: $title-spacing;
    h1 {
      font-weight: bold;
    }
    .condensed-title {
      font-size: 26px;
    }
    .maximized-title {
      font-size: 40px;
    }
  }

  .title-text,
  .subtitle-text {
    margin-bottom: 5px;
  }
}
