.site-header {
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  $title-height: calc($spacing-unit * 5);
  min-height: $title-height;
  border-bottom: 5px solid;

  .header-bg-img-container {
    min-height: $title-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 5px solid black;
  }

  .bg-img-tint {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
  }

  #menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-offset {
      width: #{$spacing-unit * 8};
    }

    .site-title {
      padding-left: calc($spacing-unit / 5);
      text-decoration: none;
    }
    // background-color: rgba(0, 0, 0, 0.4)
  }

  .badge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .badge {
      font-size: $small-font-size;
      text-transform: uppercase;
      margin: auto;
      padding-top: calc($spacing-unit / 6);
      padding-bottom: calc($spacing-unit / 6);
      padding-left: calc($spacing-unit / 3);
      padding-right: calc($spacing-unit / 3);
    }
  }

  .nav-trigger {
    display: none;
  }

  label {
    display: none;
  }

  .page-link {
    $menu-horiz-spacing-coeff: 2.5;
    padding-left: calc($spacing-unit / $menu-horiz-spacing-coeff);
    padding-right: calc($spacing-unit / $menu-horiz-spacing-coeff);
    text-transform: uppercase;
  }

        .title-box {
            width: $content-width;
            padding: calc($spacing-unit / 2);
        }

  .title-text,
  .subtitle-text {
    margin-bottom: 5px;
  }
}
