.site-header {
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc($spacing-unit * 8);
  border-bottom: 5px solid;

  #menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-offset {
      width: #{$spacing-unit * 8};
    }

    .site-title {
      padding-left: calc($spacing-unit / 5);
      text-decoration: none;
    }
  }

  .badge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .badge {
      font-size: $small-font-size;
      text-transform: uppercase;
      margin: auto;
      padding-top: calc($spacing-unit / 6);
      padding-bottom: calc($spacing-unit / 6);
      padding-left: calc($spacing-unit / 3);
      padding-right: calc($spacing-unit / 3);
    }

    .papers {
      background-color: $paper-type;
    }
    .people {
      background-color: $person-type;
    }
    .posts {
      background-color: $post-type;
    }
    .projects {
      background-color: $projects-type;
    }
  }

  .nav-trigger {
    display: none;
  }

  label {
    display: none;
  }

  .page-link {
    $menu-horiz-spacing-coeff: 2.5;
    padding-left: calc($spacing-unit / $menu-horiz-spacing-coeff);
    padding-right: calc($spacing-unit / $menu-horiz-spacing-coeff);
    text-transform: uppercase;
  }
}

.papers-border {
  border-bottom-color: $paper-type;
}

.people-border {
  border-bottom-color: $person-type;
}

.posts-border {
  border-bottom-color: $post-type;
}

.projects-border {
  border-bottom-color: $projects-type;
}

// janky category naming trick
.-border {
  border-bottom-color: $static-type;
}
