.two-column {
  margin-top: calc($spacing-unit * 0.8);

  display: flex;
  flex-direction: row;

  .side-column {
    width: calc($content-width * 0.23);
    padding: calc($spacing-unit / 2);

    .date {
      text-transform: uppercase;
      font-weight: bold;
    }

    .side-img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .side-column > *:not(:last-child) {
    padding-bottom: calc($spacing-unit / 2);
  }

  .side-column-section > .header {
    border-top: 3px black solid;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: calc($spacing-unit / 5);
  }

  .side-list > li {
    padding-top: calc($spacing-unit / 8);
  }

  .main-column {
    width: $main-column-width;
    padding: $main-column-padding;

    .subsection-header {
      margin-top: $spacing-unit;
      text-transform: uppercase;
      font-weight: bold;
    }

    li {
      margin-top: calc($spacing-unit / 6);
      margin-bottom: calc($spacing-unit / 6);
    }
    h1,
    h2,
    h3 {
      font-weight: 500;
    }
  }
}
