.two-column {
  $column-padding: calc($spacing-unit / 2);

  display: flex;
  flex-direction: row;

  .side-column {
    width: calc($content-width * 0.23);
    padding-right: $column-padding;

    .side-img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .side-column > *:not(:last-child) {
    padding-bottom: $column-padding;
  }

  .side-column-section > .header {
    border-top: 3px black solid;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: calc($spacing-unit / 5);
  }

  .side-list > li {
    padding-top: calc($spacing-unit / 8);
  }

  .main-column {
    width: $main-column-width;
    padding-left: $column-padding;

    .subsection-header {
      margin-top: $spacing-unit;
    }

    li {
      margin-top: calc($spacing-unit / 6);
      margin-bottom: calc($spacing-unit / 6);
    }
  }
}
